<div class="container center-block">
    <script src="ticker.js"></script>
      <div class="ticker col-sm-4">
      <ul>
        <li><%=  @newyork %> </li>
        <li><%=  @losangeles %></li>
        <li><%=  @chicago %></li>
        <li><%=  @houston %></li>
        <li><%=  @philadelphia %></li>
      </ul>
    </div>
     <div class="ticker col-sm-4">
      <ul>
        <li><%=  @phoenix %></li>
        <li><%=  @sanantonio %></li>
        <li><%=  @sandiego %></li>
        <li><%=  @dallas %></li>
        <li><%=  @sanjose %></li>
      </ul>
    </div>
    <div class="ticker col-sm-4">
      <ul>
        <li><%=  @austin %></li>
        <li><%=  @jacksonville %></li>
        <li><%=  @sanfrancisco %></li>
        <li><%=  @indianapolis %></li>
        <li><%=  @columbus %> </li>
      </ul>
    </div>
</div>
