<ul class="list-group list-group-flush text-center">
  <div id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <li class="list-group-item panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fa fa-plus-square-o"></i> &nbsp;More Info
          </a>
        </li>
      </div>

      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <ul class="list-group list-group-flush" id="detailsList">
          <li class="list-group-item"> Cloud Cover: <%= @currentCloudCover %>% </li>
          <li class="list-group-item"> Dew Point: <%= @currentDewPoint %>°F </li>
          <li class="list-group-item"> Nearest Storm Bearing: <%= @currentNearestStormBearing %> </li>
          <li class="list-group-item"> Nearest Storm Distance: <%= @currentNearestStormDistance %> mi </li>
          <li class="list-group-item"> 
          

          </li>
          <li class="list-group-item"> Ozone: <%= @currentOzone %> DU</li>
          <li class="list-group-item"> Pressure: <%= @currentPressure %> mb </li>
          <li class="list-group-item"> Precipitation Probability: <%= @currentPrecipProbability %>% chance</li>
          <li class="list-group-item"> Rain Intensity: <%= @currentPrecipIntensity %> in./hr. </li>
          <li class="list-group-item"> Visibility: <%= @currentVisibility %> mi </li>
          <li class="list-group-item"> Wind Bearing: <%= @currentWindBearing %> </li>
          <li class="list-group-item"> Wind Speed: <%= @currentWindSpeed %> mph </li>
          <li class="list-group-item"> Weather Icon: <%= @currentSkycon %> </li>
        </ul>
      </div>
    </div>

  </div>
</ul>

