<div class="card" style="background-color: #446AAA; border-color: #446AAA;">
  <div class="card-block text-center">
    <h3 class="card-title"><i class="fa fa-map-pin"></i>&nbsp; <%= @timezone %><br /> <small> currently <%= @currentSummary %></small></h3>  <!-- TO-DO change me from timezone to city -->
    <ul class="list-group list-inline">
      <li><h6 class="card-subtitle large"> <%= @currentTemp %> </h6></li>
      <li><canvas id="icon1" class="card-img-top"  width="128" height="128"></canvas></li>
    </ul>
    <p class="card-text">
      <%= @weekSummary %>
    </p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="fa fa-sun-o"></i> &nbsp; Feels like <%= @currentApparentTemp %> </li>
    <li class="list-group-item"><i class="fa fa-umbrella"></i> &nbsp; Currently <%= @currentPrecipProbability %>% chance of rain </li>
    <li class="list-group-item"><i class="fa fa-tint"></i> &nbsp; Humidity is at <%= @currentHumidity %>% right now </li>
  </ul>

  <%= render "welcome/collapse" %>



</div>        

