<div class="row blueBG-5" id="currentlyRow">
	<div class="container text-center" >
		<ul class="list-unstyled">
			<li><canvas id="icon1"  width="96" height="96"></canvas></li>
			<li><h3 class="light"><%= @myCity %></h3></li>
			<li><h3><small class="thin"><%= @currentSummary %></small></h3></li>
			<li><h2 class="large thin">&nbsp;<%= @currentTemp %></h2></li>
		</ul>
		<br />

	 	<h5>
		    <ul class="list-inline pull-left">
		    	<li><strong><%= @dailyTime[0]%></strong></li>
		    	<li><small class="thin">Today</small></li>
		    	
		    </ul>
		    <ul class="list-inline pull-right">
		    	<%= @dailyHiTemp[0] %>° &nbsp; <small id="loTemp"><%= @dailyLoTemp[0] %>°</small> 
		    </ul>		    

		    <br />
	    </h5>
	</div>
</div>