
  <div class="card" style="background-color: #446AAA; border-color: #446AAA;">
    <div class="card-block text-center">
      <h3 class="card-title"><i class="fa fa-map-pin"></i>&nbsp; <%= @myCity + ", " + @myState  %><br /> <small> currently <%= @currentSummary %></small></h3>  <!-- TO-DO change me from timezone to city -->
      <ul class="list-group list-inline">
        <li><h6 class="card-subtitle large"> <%= @currentTemp %> </h6></li>
        <li><canvas id="icon1" class="card-img-top"  width="128" height="128"></canvas></li>
      </ul>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="fa fa-sun-o"></i> &nbsp; Feels like <%= @currentApparentTemp %> </li>
      <% if @currentPrecipProbability > 0 %>
        <li class="list-group-item"><i class="fa fa-umbrella"></i> &nbsp; <%= @currentPrecipProbability %>% chance precipitation</li>
      <% end %>
      <li class="list-group-item"><i class="fa fa-tint"></i> &nbsp; Humidity is at <%= @currentHumidity %>%</li>
    </ul>

    <%= render "welcome/collapse" %>



  </div>        


  <%= image_tag "http://api.wunderground.com/api/481df4c08135e618/animatedradar/image.png?centerlat=#{@latitude}&centerlon=#{@longitude}&radius=150&width=450&height=450&newmaps=1&timelabel=1&timelabel.y=10&num=5&delay=50&smooth=1", :class => "center-block img img-responsive img-thumbnail", :alt => "Weather Radar" %>


<br />