<div class="row <%= @conditionBG %>BG-4">
  <div class="table-responsive" >
    <table class="table" id="hourlyTable">
      <tbody class="text-center">
        <tr>
	        <% timeCount = 0 %>
	        <% @numHours.times do %>
	        	<% if timeCount == 0 %>
	        		<td><strong>Now</strong></td>
	        	<% else %>
	        		<td class="light"><%= local_time(@hourlyTime[timeCount], "%l%P") %></td>
	        	<% end %>
	        	<% timeCount = timeCount + 1 %>
	        <% end %>
        </tr>
        <tr>
	        <% precipCount = 0 %>
	        <% @numHours.times do %>
	          <td class="hourly_chance">
	          <% if @hourlySkycon[precipCount] == "RAIN" %>
		          <% if @hourlyPrecip[precipCount] >= 5 %> <!-- hide when under 5% chance -->
		         	 <%= @hourlyPrecip[precipCount].to_s + "%"%>
		          <% end %>
		      <% end %>

	          </td>
	        <% precipCount = precipCount + 1 %>
	        <% end %>
        </tr>
        <tr>
	        <% iconCount = 2 %>
	        <% @numHours.times do %>
	          <td><canvas id="<%="icon#{iconCount}"%>"  width="30" height="30"></canvas></td>
	        <% iconCount = iconCount + 1 %>
	        <% end %>
        </tr>
        <tr> <!-- add space if there is a chance of rain to evenly space the layout -->
        	<% precipCount = 0 %>
	        <% @numHours.times do %>
	          <% if @hourlySkycon[precipCount] == "RAIN" %>
	            <td class="hourly_chance">	
	            	<<span class="hidden">✨</span>
	          	</td>
		      <% end %>
	        <% precipCount = precipCount + 1 %>
	        <% end %>
        </tr>
        <tr>
	        <% tempCount = 0 %>
	        <% @numHours.times do %>
	          <td><%= @hourlyTemp[tempCount] %></td>
	        <% tempCount = tempCount + 1 %>
	        <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>	
