<div class="row padTop">
 	<div class="container-fluid <%= @conditionBG %>BG-3 ">
 		<%= render "welcome/currently" %>
 		<%= render "welcome/hourly" %>
 		<%= render "welcome/daily" %>

		<div class="row <%= @conditionBG %>BG-2">
		<br />
			<div class="container">
				<h6 class="text-center">This week... <%= @weekSummary %></h6> <br />
			</div>
		</div>	

		<div class="row">
	    <br />
			 <div class="container">
			 	<h5 class="text-center light">&nbsp; <%= @dailyMoonPhaseName[0] %> </h5> <br />
			 </div>
		</div>

		<div class="row">
			<%= render "welcome/collapse" %>

		</div>

		<div class="row">
		    <footer class="footer2">
		      <div class="container text-center">
		        <p class="text-muted medium" id="mainFooter">
		          Created by <a href="http://www.justinwhite.co" target="_blank">Justin White</a> &nbsp;
		          Powered by <a href="http://www.forecast.io" target="_blank">Forecast</a>
		        </p>
		      </div>
		    </footer>
		</div>









	</div>
</div>


<%= render "welcome/skyconsLoadJS" %>