<div class="row blueBG">
 	<div class="container padTop">


 		<%= render "welcome/currently" %>
 		<%= render "welcome/hourly" %>
 		<%= render "welcome/daily" %>

		<div class="row">
			<div class="container">
				<h6 class="text-center">Today: <%= @weekSummary %></h6> <br />
			</div>
		</div>	

		<div class="row">
			<%= render "welcome/collapse" %>
			<br />
		</div>

	</div>
</div>


<%= render "welcome/skyconsLoadJS" %>