<div class="row padTop">
 	<div class="container-fluid <%= @conditionBG %>BG-3 ">
 		<%= render "welcome/currently" %>
 		<%= render "welcome/hourly" %>
 		<%= render "welcome/daily" %>

		<div class="row <%= @conditionBG %>BG-2">
		<br />
			<div class="container">
				<h6 class="text-center">This week... <%= @weekSummary %></h6> <br />
			</div>
		</div>	

		<div class="row">
	    <br />
			 <div class="container">
			 	<h5 class="text-center light">&nbsp; <%= @dailyMoonPhaseName[0] %> </h5> <br />
			 </div>
		</div>
		<div class="row" id="collapse">
			<%= render "welcome/collapse" %>
		</div>


		<div class="row">
			<div id="mapContainer">
	        	<%= image_tag "https://api.mapbox.com/v4/mapbox.dark/pin-s-marker+999(#{@longitude},#{@latitude})/#{@longitude},#{@latitude},8/1280x640@2x.png?access_token=pk.eyJ1Ijoic2lyanVzdGlud2hpdGUiLCJhIjoiM2RhYjVhOWNmOWZjMmVhM2RhZTIzYWI3ZmM0OTE4MjYifQ.NIiVmxMtB5abdZksPlhyRg", :class => "center-block img img-responsive image1", :alt => "Weather Radar" %>

	              <%= image_tag "http://api.wunderground.com/api/481df4c08135e618/animatedradar/image.png?centerlat=#{@latitude}&centerlon=#{@longitude}&radius=78&width=1280&height=640&newmaps=0&timelabel=1&timelabel.y=10&num=5&delay=50&noclutter=1&smooth=1", :class => "center-block img img-responsive image2", :alt => "Weather Radar" %>
	 		</div>
		</div>

		<div class="row">
        <footer class="footer" id="footer2">
          <div class="container text-center">
            <p class="text-muted medium" id="mainFooter">
              Created by <a href="http://www.justinwhite.co" target="_blank">Justin White</a> &nbsp;
              Powered by <a href="http://www.forecast.io" target="_blank">Forecast</a>
            </p>
          </div>
        </footer>
        </div>


	</div>
</div>


<%= render "welcome/skyconsLoadJS" %>