<div class="card text-center" style="background-color: #446AAA; border-color: #446AAA;">
  <div class="card-header">
    TODAY
  </div>
  <div class="card-block card-inverse">
    <p class="card-text"> <canvas id="icon2" class="card-img-top"  width="128" height="128"></canvas><%= @dailyWeatherIcon %> </p>
    <h4 class="card-title"><%= @dailyHiTemp %> | <%= @dailyLoTemp %></h4>
    <p class="card-text"> <%= @todaySummary %></p>
  </div>
  <div class="card-footer text-muted">
    feels like a high of <%= @dailyApparentHiTemp %><br> and a low of <%= @dailyApparentLoTemp %>
  </div>
</div>

<br />