<% if cookies[:lat_lng] %>
  <script>
    deleteCookie();
    getGeoLocation();
  </script>
<% else %>
  <script>
    getGeoLocation();
  </script>
<% end %>

	<div class="jumbotron jumbotron-fluid text-center blueBG">
		<div class="container">
		  <canvas id="<%="icon1"%>" class="card-img-top"  width="128" height="128"></canvas>
		  <h1 class="display-1">Welcome to Storm.ly</h1> <br />
        <button type="button" disabled onClick="location.href='/currentlocation'" id="locationBtn" class="btn btn-lg btn-primary col-sm-6 col-sm-offset-3">
          <i id="spinnerIcon" class="fa fa-spinner fa-spin"></i><span id="btnText">&nbsp; Checking for storms...</span>
        </button>
  	</div>
  </div>

  <div class="col-sm-offset-3 col-sm-6">
      <br />
      <h6 class="text-center">Hello! We're still in development right now, but feel free to poke around!</h6> <br />
  </div>

  <div class="col-sm-12">
    <ul class="list-inline">

    </ul>
  </div>

  <div class="table-responsive" >
    <table class="table" id="cityTable">
      <tbody class="text-center">
        <tr>
              <td><strong><%=  @newyork %></td><strong>
              <td><strong><%=  @losangeles %></td><strong>
              <td><strong><%=  @chicago %></td><strong>
              <td><strong><%=  @houston %></td><strong>
              <td><strong><%=  @philadelphia %></td><strong>
              <td><strong><%=  @phoenix %></td><strong>
              <td><strong><%=  @sanantonio %></td><strong>
              <td><strong><%=  @sandiego %></td><strong>
              <td><strong><%=  @dallas %></td><strong>
              <td><strong><%=  @sanjose %></td><strong>
              <td><strong><%=  @austin %></td><strong>
              <td><strong><%=  @jacksonville %></td><strong>
              <td><strong><%=  @sanfrancisco %></td><strong>
              <td><strong><%=  @indianapolis %></td><strong>
              <td><strong><%=  @columbus %></td><strong>
        </tr>
      </tbody>
    </table>
  </div>

  <br />

<%= javascript_tag do %>
var skycons = new Skycons({
   "monochrome": false,
   "colors" : {
     "cloud" : "aliceBlue",
     "fog"   : "#E5E5E5",
     "moon"  : "#e6e9d0"
   }
   });

  skycons.add("icon1", Skycons.<%= @randomSkyconLtd%>);   

  skycons.play();



<% end %>



