<div class="row">

<%- unless @lat_lng %>
  <script>
    getGeoLocation();
  </script>
<%- end %>

</div>

<div class="row">

  <div class="col-sm-6">
    <%= render "welcome/currentForecastCard" %>
  </div>

  <div class="col-sm-6">
    <% 6.times do %>
      <%= render "welcome/dailyForecastCard" %>
    <% end %>
  </div>



</div>

<div class= "row">
  <%= @dailyForecastJSON %>
</div>


<%= javascript_tag do %>
  var skycons = new Skycons({"color": "Aquamarine "});

  skycons.add("icon1", Skycons.<%= @currentSkycon %>);
 
  skycons.play();

<% end %>