<div id="map-container"><%= image_tag "http://maps.google.com/maps/api/staticmap?size=650x650&sensor=false&zoom=13&center=#{@latitude}%2C#{@longitude}&visual_refresh=true&scale=2&key=AIzaSyCAaruC-8uY0mbl_eXQRT0Co4ou_EKr9cI", :id =>"map", :class => "" %></div> 
<!-- END Google Maps Background-->



<div class="row">


<%- unless @lat_lng %>
  <script>
    getGeoLocation();
  </script>
<%- end %>

</div>

<div class="row">

  <div class="col-sm-6">
    <%= render "welcome/currentForecastCard" %>
  </div>

  <div class="col-sm-6">
    <%= render "welcome/todayForecastCard" %>
    <% 6.times do %>
      <%= render "welcome/dailyForecastCard" %>
    <% end %>
  </div>



</div>



<%= javascript_tag do %>
  var skycons = new Skycons({"color": "AliceBlue"});

  skycons.add("icon1", Skycons.<%= @currentSkycon %>);
  skycons.add("icon2", Skycons.<%= @dailySkycon %>);
 
  skycons.play();

<% end %>