

<div class="row">


<%- unless @lat_lng %>
  <script>
    getGeoLocation();
  </script>
<%- end %>

</div>

<div class="row">

  <div class="col-sm-6">
    <%= render "welcome/currentForecastCard" %>
  </div>

  <div class="col-sm-6">
    <% @count = 0 %>
    <% @skyconCount = 2 %>
    <% 7.times do %>
      <%= render "welcome/dailyForecastCard" %>
      <% @count = @count + 1 %>
      <% @skyconCount = @skyconCount + 1 %>
    <% end %>
  </div>



</div>



<%= javascript_tag do %>
  var skycons = new Skycons({"color": "AliceBlue"});

  skycons.add("icon1", Skycons.<%= @currentSkycon %>);

  skycons.add("icon2", Skycons.<%= @dailySkycon[0] %>);
  skycons.add("icon3", Skycons.<%= @dailySkycon[1] %>);
  skycons.add("icon4", Skycons.<%= @dailySkycon[2] %>);
  skycons.add("icon5", Skycons.<%= @dailySkycon[3] %>);
  skycons.add("icon6", Skycons.<%= @dailySkycon[4] %>);
  skycons.add("icon7", Skycons.<%= @dailySkycon[5] %>);
  skycons.add("icon8", Skycons.<%= @dailySkycon[6] %>);
 
  skycons.play();

<% end %>